<div class="container">
  <div class="row">
    <div class="col-sm-12 col-lg-4">
      <mat-accordion>
        <mat-expansion-panel *ngFor="let semestre of semestres">
          <mat-expansion-panel-header>
            <mat-panel-title>
              {{ semestre.nombre }}
            </mat-panel-title>
          </mat-expansion-panel-header>
          <mat-accordion>
            <mat-expansion-panel *ngFor="let materia of semestre.materias">
              <mat-expansion-panel-header>
                <mat-panel-title>
                  {{ materia.nombre }}
                </mat-panel-title>
              </mat-expansion-panel-header>
              <mat-list>
                <mat-list-item *ngFor="let docente of materia.docentes" class="p-0">
                  <p  class="letter mb-0"> <input type="checkbox" (change)="toggleSubject(docente, $event)" /> GR:{{docente.group}} {{ docente?.name }}</p>
                </mat-list-item>
              </mat-list>
            </mat-expansion-panel>
          </mat-accordion>
        </mat-expansion-panel>
      </mat-accordion>
    </div>
    <div class="col-sm-12 col-lg-8">
      <table class="schedule-table">
        <thead>
          <tr>
            <th>Hora</th>
            <th *ngFor="let day of days">
              {{ day }}
            </th>
          </tr>
        </thead>
        <tbody>
          <tr *ngFor="let hour of hours">
            <td>{{ hour }}</td>
            <td *ngFor="let day of days">
              <div *ngIf="selectedSubjects.length > 0">
                <div *ngFor="let subject of getSubjectsForCell(day, hour)" class="subject-box"
                  [ngStyle]="{ 'background-color': subject.color }">
                  <p class="letterReal m-0">GR:{{subject.group}}<br />{{ subject.name }}<br />AULA: {{ subject.classRoom }}</p>
                  <p class="m-0" *ngIf="subject?.auxiliary"><b>Auxiliatura</b></p>
                </div>
              </div>
            </td>
          </tr>
        </tbody>
      </table>
    </div>
  </div>
</div>
