.container {
  display: flex;
  gap: 20px;
}

.sidebar {
  width: 300px;
  background: #f9f9f9;
  padding: 15px;
  border-radius: 8px;
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
}

.sidebar ul {
  list-style-type: none;
  padding: 0;
}

.sidebar li {
  margin-bottom: 10px;
}

.schedule-table {
  border-collapse: collapse;
  width: 100%;
}

.schedule-table th, .schedule-table td {
  border: 1px solid #ddd;
  padding: 8px;
  text-align: center;
}

.subject-box {

  padding: 5px;
  border-radius: 4px;
  margin: 2px 0;
}
.scroll-container {
  max-height: 200px;
  overflow-y: auto;
  border: 1px solid #ccc;
  padding: 10px;
}
.letter{
  font-size: 13px;
  white-space: normal;  /* Permite que el texto se divida en varias líneas */
  word-wrap: break-word; /* Rompe palabras largas si es necesario */
  overflow-wrap: break-word;
}
.maginP{
  margin: 0px;
}
.letterReal{
  font-size: 12.5px;
}
.letterMinium{
  font-size: 12px;
}
img {
  width: 150px;  /* Cambia el ancho */
  height: 100px; /* Cambia la altura */
}

.fondo1 {
  background-color: #eaeaea; /* Color gris claro */
}
.fondo2 {
  background-color: #aca8ff; /* Color gris claro */
}

